composer.lock
composer.phar
### Avoids git submodule issues with composer installed dependencies
/Packages/Libraries/digitalnature/php-ref/.git
/Packages/Libraries/nickcernis/html-to-markdown/.git
/Packages/Libraries/michelf/php-markdown/.git
/Packages/.git